---
extends: default

rules:
  line-length:
    max: 80
    level: error
  document-start:
    present: true
  truthy:
    allowed-values: ["true", "false", "on", "off"]

ignore: |
  # Ignore files with complex templating syntax that yamllint cannot parse
  software_templates/catalog-info.yaml.tpl
  software_templates/skeletons/helm-base/templates/deployment.yaml.tpl
  software_templates/skeletons/helm-base/templates/_helpers.tpl.tpl
